{% extends "users/base.html" %}

{% block title %}
Log in
{% endblock title %}
Here is main.html

{% block content %}
<div class="auth">
    <form action="{% url 'users:main' %}" method='post'>
        {% csrf_token %}

        <input type="input" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>
<div class="auth_link">
    <a href="{% url 'users:signup' %}"> Signup</a>
</div>
{% endblock content %}