{% extends "users/base.html" %}

<h1> Here is SignUp Page </h1>

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="auth"></div>
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Sign Up">
    </form>
</div>
<div class="auth_link">
    <a href="{% url 'users:main' %}">Login</a>
</div>
{% endblock content %}