{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts/main.css'%}">


    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        {% include "posts/header.html" %}
    </div>

    <div>
        {% block content %}  {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'js/posts.js' %}"></script>
</body>
</html> 