{% extends "posts/base.html" %}
{% load static %}
{% block content %}

{% for post in posts %}
<div class="post-box">
        <!-- HEADER -->
        <div class="header">
            <div class="profile">
                {% if post.author.profile_photo != None %}
                    <img src="{{ post.author.profile_photo }}">
                {% else %}
                    <img src="{% static 'images/posts/no_avatar.png' %}">
                {% endif %}
                <div>
                    {{ post.author.username }}
                </div>
            </div>
            {% if user.id == post.author.id %}
                <div class="icon">
                    <a href="{% url 'posts:post_update' post.id %}">
                        <i class="fa fa-pencil fa1x"></i>
                    </a>               
                    <i class="fa fa-trash-o fa1x"></i>
                </div>
            {% endif %}
        </div>

        <!-- IMAGE -->
        <img class="post-image" src="{{ post.image }}">

        <!-- IMAGE-BUTTON -->
        <button id="like-button-{{ post.id }}" onclick="handleLikeClick(this.id)">
        {% if user.id in post.image_likes %}
            <i class="fa fa-heart fa-2x"></i>
        {% else %}
            <i class="fa fa-heart-o fa-2x"></i>
        {% endif %}
        </button>
        
        <div class="desc-box">
            <!-- IMAGE-DESCRIPTION -->
            <div class="image-desc">
                <b>{{ post.author.username }}</b>
                {{ post.caption }}
            </div>

            <!-- COMMENT -->
            <div class="comment">
                {% for comment in post.comment_post %}
                    <div id="comment-{{ comment.id }}">
                        <b>{{ comment.author.username }}</b>
                        {{ comment.contents }}
                        {% if user.id == comment.author.id %}
                            <a href="{% url 'posts:comment_delete' comment.id %}">
                                <i class="fa fa-trash-o fa1x"></i>
                    </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- COMMENT INPUT -->
        <div class="comment-input">
            <form action="{% url 'posts:comment_create' post.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post">
            </form>
        </div>

    </div>

{% endfor %}

{% endblock content %}